.idea/
.ipynb_checkpoints/
.vscode/
__pycache__/
path_autoencoder/saves/path_autoencoded/model.keras
schedule/saves/pioneer_4.3/model.keras
schedule/saves/pioneer_4.2/model.keras
schedule/saves/pioneer_4.1/model.keras
schedule/saves/pioneer_4.4/model.keras
pioneer/saves/pioneer/model.keras